<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoading && cpt===0" class="loading-spinner">
    <ion-spinner name="bubbles" color="primary"></ion-spinner>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng"  [zoom]="zoom" id="map">
    <agm-marker *ngFor="let mark of lstLocalisations" [(latitude)]="mark.lat" [longitude]="mark.lng">
      <agm-info-window id="infoWindow" style="text-align: center" maxWidth="30px">
        <p>
          <span><b>{{mark.restaurant.res_name}}</b></span><br />
          <span>{{mark.restaurant.res_address_1}}</span><br />
          <span>{{mark.restaurant.res_zip_code}} {{mark.restaurant.res_city}}</span><br />
          <b><a class="info-link" (click)="goToWineCard(mark.restaurant)">Afficher la carte des vins</a></b>
        </p>
      </agm-info-window>
    </agm-marker>
    <agm-marker [(latitude)]="lat" [longitude]="lng" [iconUrl]="icon"></agm-marker>
  </agm-map>

</ion-content>