<ion-content class="login-content" responsive-sm>
  <ion-card class="login-card" responsive-sm>
    <ion-img src="/assets/icon/vaudvin_logo.png" class="img-toolbar" slot="center"></ion-img>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="isReady">
      <ion-item class="form-group" responsive-sm>
        <ion-input type="email" placeholder="Adresse e-mail" [(ngModel)]="form.email" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.get('email')?.errors }">
        </ion-input>
        <div *ngIf="submitted && resetPasswordForm.get('email')?.errors" class="invalid-feedback">
          <div *ngIf="resetPasswordForm.get('email')?.hasError('required')">Un email est requis</div>
          <div *ngIf="resetPasswordForm.get('email')?.hasError('pattern')">L'email n'est pas valide</div>
        </div>
      </ion-item>
      <ion-item class="form-group" responsive-sm>
        <ion-input type="password" placeholder="Nouveau mot de passe" [(ngModel)]="form.password" formControlName="password"
          [ngClass]="{'is-invalid' : submitted && resetPasswordForm.get('password')?.errors}">
        </ion-input>
        <div *ngIf="submitted && resetPasswordForm.get('password')?.errors" class="invalid-feedback">
          <div *ngIf="resetPasswordForm.get('password')?.hasError('required')">Un mot de passe est requis</div>
          <div *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">Le mot de passe doit contenir 6
            caractères min.</div>
        </div>
      </ion-item>
      <ion-item class="form-group" responsive-sm>
        <ion-input type="password" placeholder="Confirmer le mot de passe" [(ngModel)]="form.password_confirm"
          formControlName="password_confirm"
          [ngClass]="{ 'is-invalid' : submitted && resetPasswordForm.get('password_confirm')?.errors}"></ion-input>
        <div *ngIf="submitted && resetPasswordForm.get('password_confirm')?.errors" class="invalid-feedback">
          <div *ngIf="resetPasswordForm.get('password_confirm')?.hasError('required')">Veuillez confirmer le mot de
            passe</div>
          <div *ngIf="resetPasswordForm.get('password_confirm')?.hasError('mustMatch')">Les mots de passe ne
            correspondent pas !</div>
        </div>
      </ion-item>
      <div class="div-btn">
        <ion-button class="form-btn" size="medium" type="submit">Réinitialiser le mot de passe</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>