.img-toolbar{
    width:100px;
    height:50px;
}

.div-icon{
    margin-right:10px;
    height: 20px;
    width: 40px;

    .img-icon{
        height:40px;
        width:40px;
    }
}

.restau-title{
    font-weight: bold;
    font-size:1.1em;
    color: #df4b68;
    cursor: pointer;
}