<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trouver un restaurant
    </ion-title>
    <ion-img src="/assets/icon/gws_logo_blanc.png" class="img-toolbar" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionChange)="onChange($event)" placeHolder="Rechercher un restaurant"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let restaurant of restaurants" class="restau-card" (click)="getDetails(restaurant)">
      <ion-item>
        <div class="div-icon">
          <ion-icon name="restaurant" class="img-icon"></ion-icon>
        </div>
        <div class="restau-info">
          <ion-label class="restau-title">{{restaurant.nom}}</ion-label>
          <ion-label>{{restaurant.type}}</ion-label>
          <ion-label>{{restaurant.adresse}}</ion-label>
          <ion-label>{{restaurant.code_postal}} - {{restaurant.ville}}</ion-label>
          <ion-label>{{restaurant.no_telephone}}</ion-label>
        </div>
      </ion-item>  
    </ion-card>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
