<ion-header>
  <ion-toolbar>
    <ion-title>list-millesime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-card *ngFor="let millesime of millesimes" class="millesime-card" (click)="getDetails(millesime)">
        <ion-item>
          <div class="div-icon">
            <ion-icon name="restaurant" class="img-icon"></ion-icon>
          </div>
          <div class="restau-info">
            <ion-label class="restau-title">{{restaurant.nom}}</ion-label>
            <ion-label>{{restaurant.type}}</ion-label>
            <ion-label>{{restaurant.adresse}}</ion-label>
            <ion-label>{{restaurant.code_postal}} - {{restaurant.ville}}</ion-label>
            <ion-label>{{restaurant.no_telephone}}</ion-label>
          </div>
        </ion-item>  
      </ion-card>
    </ion-list>
    <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
  </ion-content>
  
</ion-content>
