<ion-content class="login-content" responsive-sm>
  <ion-card class="login-card" responsive-sm>
    <ion-img src="/assets/icon/vaudvin_logo.png" class="img-toolbar" slot="center"></ion-img>
    <div class="div-label">
      <ion-label class="login-label" color="primary">Réinitialiser son mot de passe</ion-label>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="isReady">
      <ion-item class="form-group" responsive-sm>
        <ion-input type="email" placeholder="Adresse e-mail" [(ngModel)]="email"
          formControlName="email" [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.get('email')?.errors }">
        </ion-input>
        <div *ngIf="submitted && resetPasswordForm.get('email')?.errors" class="invalid-feedback">
          <div *ngIf="resetPasswordForm.get('email')?.hasError('required')">Un email est requis</div>
          <div *ngIf="resetPasswordForm.get('email')?.hasError('pattern')">L'email n'est pas valide</div>
        </div>
      </ion-item>
      <div class="div-btn">
        <ion-button class="form-btn" size="medium" (click)="goToLogin()">Annuler</ion-button>
        &nbsp;
        &nbsp;
        &nbsp;
        <ion-button class="form-btn" size="medium" type="submit">Envoyer</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>