<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trouver un restaurant
    </ion-title>
    <ion-img src="/assets/icon/vaudvin_logo.png" class="img-toolbar" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionChange)="onChange($event)" placeHolder="Rechercher un restaurant"></ion-searchbar>
  <agm-map
   [style.height.px]="height"
   [latitude]="lat"
   [longitude]="lng">
     <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</ion-content>
