<ion-header>
  <ion-toolbar>    
    <ion-title class="wine-title">
      Fiche du vin
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content overflow-scroll="true">
  <div class="wine-card">
    <div class="vin-info">
      <ion-item class="item-info" lines="none">
        <h3 class="vin-title">{{vin?.name}}</h3>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Provenance : {{vin?.region}}</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Producteur : {{vin?.producer}}</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Cépage : {{vin?.grape_variety}}</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Millésime : {{vintage?.year}}</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Type : {{vin?.category}}</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Style : {{vin?.style}}</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <span>Accords mets-vins : {{vin?.served_with}}</span>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Taux de sucre : {{vin?.sugar_level}}g</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Degré d'alcool : {{vin?.total_acidity}}g/l</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Degré d'alcool : {{vin?.alcohol_level}}%</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Est bio : {{isBio}}</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Est boisé : {{isWoody}}</ion-label>
      </ion-item>
      <ion-item class="item-info" lines="none">
        <ion-label>Capacité : {{vin?.capacity | number: '1.0-0'}}dl</ion-label>
      </ion-item>
    </div>
    <span> Comment avez-vous trouvé ce vin ?</span>
    <div id="like" class="rating" *ngIf="!isRated">
      <!-- FIRST HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart1" (click)="changeIcon($event)"></ion-icon>
      <!-- SECOND HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart2" (click)="changeIcon($event)"></ion-icon>
      <!-- THIRD HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart3" (click)="changeIcon($event)"></ion-icon>
      <!-- FOURTH HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart4" (click)="changeIcon($event)"></ion-icon>
      <!-- FIFTH HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart5" (click)="changeIcon($event)"></ion-icon>
    </div>
    <div id="like" class="rating" *ngIf="isRated">
      <!-- 1 HEART -->
      <ng-container *ngIf="rateValue === 1" title="note-insuffisante">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
      <!-- 2 HEARTS -->
      <ng-container *ngIf="rateValue === 2" title="note-faible">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
      <!-- 3 HEARTS -->
      <ng-container *ngIf="rateValue === 3" title="note-moyenne">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
      <!-- 4 HEARTS -->
      <ng-container *ngIf="rateValue === 4" title="note-bonne">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
      <!-- 5 HEARTS -->
      <ng-container *ngIf="rateValue === 5" title="note-excellente">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon> 
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
    </div>
    <div class="btn-rating">
      <ion-button color="medium" size="medium" (click)="navigatePage()">Annuler</ion-button>
      <ion-button color="primary" size="medium" (click)="saveRate()">Enregistrer la note</ion-button>
    </div>
  </div>
</ion-content>