<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">
      Fiche du vin
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content overflow-scroll="true">
  <div class="wine-card">
    <div class="vin-info">
      <ion-card class="card">
        <ion-item class="item-info" lines="none">
          <h3 class="vin-title">{{vin?.win_name}}</h3>
        </ion-item>
        <ion-item class="item-info" lines="none">
          <h4>Provenance : {{vin?.win_region}}</h4>
        </ion-item>
        <ion-item class="item-info" lines="none">
          <h4>Producteur : {{vin?.win_producer}}</h4>
        </ion-item>
        <ion-item class="item-info" lines="none">
          <h4>Cépage : {{vin?.win_grape_variety}}</h4>
        </ion-item>
        <ion-item class="item-info" lines="none">
          <h4>Millésime : {{vintage?.vin_year}}</h4>
        </ion-item>
        <ion-item class="item-info" lines="none">
          <h4>Type : {{vin?.win_category}}</h4>
        </ion-item>
        <ion-item class="item-info" lines="none">
          <h4>Style : {{vin?.win_style}}</h4>
        </ion-item>
        <ion-item class="item-info" lines="none">
          <ion-label class="label-info">Bio : {{isBio}}</ion-label>
          <ion-label class="label-info">Boisé : {{isWoody}}</ion-label>
        </ion-item>
        <ion-item class="item-info" lines="none">
          <h4>Contenance : {{vin?.win_capacity | number: '1.0-0'}}dl</h4>
        </ion-item>
      </ion-card>
    </div>
    <span> Comment avez-vous trouvé ce vin ?</span>
    <div id="like" class="rating" *ngIf="!isRated">
      <!-- FIRST HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart1" (click)="changeIcon($event)"></ion-icon>
      <!-- SECOND HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart2" (click)="changeIcon($event)"></ion-icon>
      <!-- THIRD HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart3" (click)="changeIcon($event)"></ion-icon>
      <!-- FOURTH HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart4" (click)="changeIcon($event)"></ion-icon>
      <!-- FIFTH HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart5" (click)="changeIcon($event)"></ion-icon>
    </div>
    <div id="like" class="rating" *ngIf="isRated">
      <!-- 1 HEART -->
      <ng-container *ngIf="rateValue === 1" title="note-insuffisante">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
      <!-- 2 HEARTS -->
      <ng-container *ngIf="rateValue === 2" title="note-faible">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
      <!-- 3 HEARTS -->
      <ng-container *ngIf="rateValue === 3" title="note-moyenne">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
      <!-- 4 HEARTS -->
      <ng-container *ngIf="rateValue === 4" title="note-bonne">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart-empty" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
      <!-- 5 HEARTS -->
      <ng-container *ngIf="rateValue === 5" title="note-excellente">
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart1"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart2"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart3"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart4"></ion-icon>
        <ion-icon name="heart" class="heart" (click)="changeIcon($event)" id="heart5"></ion-icon>
      </ng-container>
    </div>
    <div *ngIf="!isCommented">
      <form [formGroup]="commentForm">
        <ion-item class="comment-item" lines="none">
          <ion-textarea class="comment-ta" placeholder="(Facultatif) Laissez un commentaire" maxlength="100"
            [(ngModel)]="commentValue" (ionChange)="textChange()" formControlName="comment"
            [ngClass]="{ 'is-invalid': (submitted && isCommented) && registerForm.get('comment')?.errors }">
          </ion-textarea>
          <div *ngIf="submitted && registerForm.get('comment')?.errors" class="invalid-feedback">
            <div *ngIf="registerForm.get('comment')?.hasError('pattern')">Le commentaire n'est pas pertinent !</div>
          </div>
        </ion-item>
      </form>
      <div class="letter-counts">{{textCount}}/100</div>
    </div>
    <div *ngIf="isCommented">
      <ion-item class="comment-item" lines="none">
        <h4 text-left>Votre commentaire sur ce vin :<div class="comment-container">
            <span class="comment-value">"{{commentValue}}"</span>
          </div>
        </h4>
      </ion-item>
    </div>
    <div class="btn-rating">
      <ion-button color="medium" size="medium" (click)="cancel()">Annuler</ion-button>
      <ion-button color="primary" size="medium" (click)="saveRate()">Enregistrer l'avis</ion-button>
    </div>
  </div>
</ion-content>