.rating {
  margin: 15px;

  .heart {
    width: 40px;
    height: 40px;
    color: #df4b68 !important;
  }
}

.toolbar-title {
  font-size: calc(20px + .5vw);
  text-align: center;
  font-weight: bold;
}

.wine-card {
  text-align: center;
  align-content: center;
  height: 100%;
  min-width: 100px;
  display: block;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
  padding-top: 20px;
  box-shadow: inset 0px 11px 10px -15px black, outset 0px -11px 10px -15px black;
  cursor: pointer;

  .img-vin {
    width: 100px;
    height: 250px;
    min-width: 50px;
    min-height: 190px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    position: relative;
  }

  h4{
    font-size: 5vw;
  }

  .vin-info {
    padding-bottom: 30px;
    white-space: pre-wrap;
    word-break: break-word;

    .vin-title {
      text-align: center;
      margin: auto;
      color: #df4b68;
      font-weight: bold;
      white-space: pre-wrap;
      word-break: break-word;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      hyphens: none;
      font-size: 7vw;
    }

    .invalid-feedback {
      font-size: 0.7em;
      color: red;
      left: 50px;
    }

    .card {
      margin: auto;
      position: relative;
      display: block;
      border: 2px solid #df4b68;
      width: 85%;
    }

    .item-info {
      word-wrap: break-word;
      white-space: pre-wrap;
      padding-top: 10px;

      .label-info {
        font-weight: 500;
        font-size: 5vw;
      }
    }
  }

  .comment-item {
    width: 88%;
    margin: auto;
    position: relative;
    display: block;
    margin-bottom: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;

    .comment-container{
      border-top: 1px solid #df4b68;
      padding: 10px;
      .comment-value {
        font-weight: normal;
        font-style: italic;
        text-align: center;
      }
    }

    .comment-ta {
      margin: auto;
      position: relative;
      display: block;
      border: 1px solid gray;
      border-radius: 5px;
      padding-left: 10px;

    }
  }

  .letter-counts {
    font-size: 0.7em;
    color: gray;
  }

  .btn-rating {
    padding-bottom: 20px;
  }
}

.alert-saved{
  font-weight: normal;
  font-size: 0.8em;
}