.rating {
  margin: 20px;

  .heart {
    width: 40px;
    height: 40px;
    color: #df4b68 !important;
  }
}

.wine-title {
  font-size: calc(17px + .5vw);

}

.wine-card {
  text-align: center;
  align-content: center;
  height: 100%;
  min-width: 100px;
  display: block;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
  padding-top: 20px;
  box-shadow: inset 0px 11px 10px -15px black, outset 0px -11px 10px -15px black;
  cursor: pointer;

  .img-vin {
    width: 100px;
    height: 250px;
    min-width: 50px;
    min-height: 190px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    position: relative;
  }

  .vin-info {
    margin-left: 20px;
    padding-bottom: 50px;
    white-space:pre-wrap;
    word-break:break-word;
    
    .vin-title {
      text-align: center;
      margin: auto;
      color: #df4b68;
      font-weight: bold;
      white-space:pre-wrap;
      word-break:break-word;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      hyphens: none;
      font-size: calc(25px + .5vw);
    }

    .item-info {
      word-wrap: break-word;
      padding-top: 10px;
      margin-right: 35px;
    }
  }

  .btn-rating {
    padding-bottom: 20px;
  }
}