<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Noter / Evaluer un vin
      </ion-title>
      <ion-img src="/assets/icon/gws_logo_blanc.png" class="img-toolbar" slot="end"></ion-img>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-searchbar (ionChange)="onChange($event)" placeHolder="Rechercher un vin"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let vin of vins" class="wine-card" (click)="goToDetails(vin)">
      <ion-item>
        <ion-img class="img-vin" src="{{vin.photo}}"></ion-img>
        <div class="vin-info">
          <ion-label class="vin-title">{{vin.nom}}</ion-label>
          <ion-label>{{vin.provenance}}</ion-label>
          <ion-label>{{vin.producteur}}</ion-label>
          <ion-label>{{vin.cepage}}</ion-label>
          <ion-label>Vin {{vin.type}}</ion-label>
          <ion-label>{{vin.millesime}}</ion-label>
        </div>
      </ion-item>  
    </ion-card>
  </ion-list>
</ion-content>