.login-content{
    .login-card{
        padding-top:10px;
        text-align: center;
        height:auto;
        .img-toolbar{
            text-align: center;
            margin:auto;
            width:25vh;
            height:14vh;
        }
        .div-label{
            margin-top:30px;
            margin-bottom:25px;
        }

        .login-label{
            font-size:1.6em;    
        }
        .form-group{
            padding-right:20px;
        }
        .form-btn{
            text-transform: none;
            margin-top:20px;
            margin-bottom: 20px;
            height:30px;
        }
        .register-link{
            color:#0000EE;
            :visited{
                color: #551A8B;
            }
        }
    }
}