.form-title{
    font-size:1.3em;
    font-weight: bold;
    padding-top:20px;
}

.form-group{
    padding-top: 15px;
}

.invalid-feedback{
    font-size:2vw;
    color:red;
    left:50px;
}

ion-input{
    font-size: 4.4vw;
}

.form-btn{
    text-transform: none;
    height:30px;
}