.form-title{
    font-size:1.3em;
    font-weight: bold;
    padding-top:20px;
}

.form-group{
    padding-top: 15px;
}

.invalid-feedback{
    font-size:0.7em;
    color:red;
    left:50px;
}

.form-btn{
    text-transform: none;
    height:30px;
}