<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Historique
    </ion-title>
    <ion-img src="/assets/icon/vaudvin_logo.png" class="img-toolbar" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <app-searchbar></app-searchbar>
    <ion-card *ngFor="let vin of vins" class="wine-card">
      <ion-item class="vin-wrapper">
        <ion-img class="img-vin" src="data:image/jpeg;base64,{{vin.photo}}"></ion-img>
        <div class="vin-info">
          <ion-label class="vin-title">{{vin.name}}</ion-label>
          <ion-label>{{vin.region}}</ion-label>
          <ion-label>{{vin.producer}}</ion-label>
          <ion-label>{{vin.grape_variety}}</ion-label>
          <ion-label>{{vin.vintage}}</ion-label>
          <ion-label>
            <div id="like" class="rating" [ngSwitch]=vin.rate>
              <p *ngSwitchDefault title="pas de note">
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
              </p>
              <p *ngSwitchCase="1" title="note médiocre">
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
              </p>
              <p *ngSwitchCase="2" title="note faible">
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
              </p>
              <p *ngSwitchCase="3" title="note moyenne">
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
              </p>
              <p *ngSwitchCase="4" title="note bonne">
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart-empty" class="heart"></ion-icon>
              </p>
              <p *ngSwitchCase="5" title="note excellente">
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
                <ion-icon name="heart" class="heart"></ion-icon>
              </p>
            </div>
          </ion-label>
        </div>
      </ion-item>  
    </ion-card>
  </ion-list>
</ion-content>