<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Noter / Evaluer un vin
    </ion-title>
    <ion-img src="/assets/icon/vaudvin_logo.png" class="img-toolbar" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-list class="wine-list" id="list">
    <app-searchbar></app-searchbar>
    <div *ngIf="isLoading && cpt===0" class="loading-spinner">
      <ion-spinner name="bubbles" color="primary"></ion-spinner>
    </div>
    <ion-card *ngIf="wines?.length > 0">
      <ion-card-content id="content1" class="wine-card">
        <div *ngFor="let vin of wines">
          <app-wine-card [vin]="vin"></app-wine-card>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="wines.length === 0" [hidden]="isLoading">
      <h3 style="text-align: center; margin-top:30px">Aucun vin ne correspond à cette recherche.</h3>
    </div>
  </ion-list>
</ion-content>