ion-content{
    --ion-background-color:white;
}

.img-toolbar {
    width: 100px;
    height: 50px;
}

.card-header {
    background-color: #df4b68;
    color: #FFF;
    font-size: 2vh;
}

.card-icon {
    float: right;
    margin: auto;
    position: relative;
    display: block;
    vertical-align: middle;
    font-size: 3vh;
    margin-top: -5px;
}

.wine-card {
    text-align: center;
    align-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding: 0px 16px;
    transition: all 500ms ease;
    box-shadow: inset 0px 8px 10px -15px black, outset 0px -8px 10px -15px black;
    background-color:white;
    cursor: pointer;
}

.loading-spinner {
    padding-top: 10%;
    transform: scale(2);
    text-align: center;
    display: table;
    margin: auto;
    position: relative;
}