.img-toolbar{
    width:100px;
    height:50px;
  }
  
  .home-card{
    padding:50px;
    background-color: #df4b68;
    .home-label{
        color:white;
        text-align: justify;
        text-justify: distribute;
        text-align-last: left;
        font-size:1.6em;    
    }
  }