<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
    <ion-img src="/assets/icon/vaudvin_logo.png" class="img-toolbar" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="blurred-bg-container">
    <div class="content">
      <div class="text">
          <ion-label class="home-label" color="primary">Bonjour {{name}} ! Merci d'avoir choisi VaudVin.
              <ion-icon ios="ios-wine" md="md-wine" class="home-icon"></ion-icon>
              <br />Vous pouvez naviguer sur l'application à l'aide du menu situé en haut à gauche de cette page.
            </ion-label>
      </div>
      <div class="blur"></div>
    </div>
  </div>
  <div>
    <ion-button (click)="presentAlert()">Basic Alert</ion-button>
  </div>
</ion-content>