
.loading-spinner {
    padding-top: 10%;
    transform: scale(2);
    text-align: center;
    display: table;
    margin: auto;
    position: relative;
}

.title{
    text-align: center;
    margin:50px;
    font-size:5.2vw;
}