<ion-content>
  <div class="restau-wrapper">
    <ion-icon name="restaurant" class="restau-icon"></ion-icon>
    <ion-item class="restau-title"> {{restaurant.nom}}</ion-item>
    <ion-item class="restau-info"> {{restaurant.adresse}}</ion-item>
    <ion-item class="restau-info"> {{restaurant.code_postal}} - {{restaurant.ville}} </ion-item>
    <ion-item class="restau-info"> {{restaurant.no_telephone}}</ion-item>
    <ion-button color="medium" class="btn-carte" (click)="goToWineList()">Afficher la carte des vins</ion-button>
  </div>
</ion-content>
