<ion-item lines="none" class="vin-wrapper" (click)="goToVintages()" id="item">
  <div class="vin-info">
    <ion-label class="vin-title">{{vin.name}}</ion-label>
    <ion-label>{{vin.region}}</ion-label>
    <ion-label>{{vin.producer}}</ion-label>
    <ion-label>{{vin.grape_variety}}</ion-label>
    <ion-label>Vin {{vin.category}}</ion-label>
    <div *ngIf="!isRated">
      <ion-label *ngIf="percent < 40" id="labelRecommended" style="font-size: 1.4em; color:red;">
        Recommandé à {{percent}}% <ion-icon name="thumbs-down"></ion-icon>
      </ion-label>
      <ion-label *ngIf="percent >= 40 && percent < 80" id="labelRecommended" style="font-size: 1.4em; color:orange;">
        Recommandé à {{percent}}% <ion-icon name="thumbs-up">
        </ion-icon>
      </ion-label>
      <ion-label *ngIf="percent >= 80 && percent <= 100" id="labelRecommended" style="font-size: 1.4em; color:green;">
        Recommandé à {{percent}}% <ion-icon name="thumbs-up">
        </ion-icon>
      </ion-label>
    </div>
    <div id="like" class="rating" *ngIf="router.url === '/historical' && isRated">
      <!-- 0 HEART - NO RATE -->
      <ng-container *ngIf="moyenneMill === 0" title="note-nulle">
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 0.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 0.5" title="note-nulle">
        <ion-icon name="heart-half" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 1 HEART -->
      <ng-container *ngIf="moyenneMill === 1" title="note-insuffisante">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 1.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 1.5" title="note-nulle">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-half" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 2 HEARTS -->
      <ng-container *ngIf="moyenneMill === 2" title="note-faible">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 2.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 2.5" title="note-nulle">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-half" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 3 HEARTS -->
      <ng-container *ngIf="moyenneMill === 3" title="note-moyenne">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 3.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 3.5" title="note-nulle">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-half" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 4 HEARTS -->
      <ng-container *ngIf="moyenneMill === 4" title="note-bonne">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 4.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 4.5" title="note-nulle">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-half" class="heart"></ion-icon>
      </ng-container>
      <!-- 5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 5" title="note-excellente">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
      </ng-container>
    </div>
  </div>
</ion-item>