<ion-item [lines]="router.url === '/list-wine' || router.url.includes('/restaurant-card/') ? 'full' : 'none'"class="vin-wrapper" (click)="goToVintages()" id="item">
  <div class="vin-info">
    <ion-label class="vin-title">{{vin.win_name}}</ion-label>
    <ion-label>{{vin.win_region}}</ion-label>
    <ion-label>{{vin.win_producer}}</ion-label>
    <ion-label>{{vin.win_grape_variety}}</ion-label>
    <ion-label>Vin {{vin.win_category}}</ion-label>
    <div *ngIf="!isRated" class="label-recommended">
      <ion-label *ngIf="moyennePtsConcoursMill < 75" id="labelRecommended" >
        Note moyenne : <label style=color:red;>2 </label> <span style="font-size: 0.7em; color:red;">({{nbNotes}} {{nbNotes==1? 'note' : 'notes'}})<ion-icon name="thumbs-down"></ion-icon></span>
      </ion-label>
      <ion-label *ngIf="moyennePtsConcoursMill >= 75 && moyennePtsConcoursMill < 86" id="labelRecommended" >
        Note moyenne : <label style=color:darkorange;>3 </label> <span style="font-size: 0.7em; color:darkorange;">({{nbNotes}} {{nbNotes==1? 'note' : 'notes'}})<ion-icon name="thumbs-up"></ion-icon></span>
      </ion-label>
      <ion-label *ngIf="moyennePtsConcoursMill >= 86 && moyennePtsConcoursMill < 90" id="labelRecommended" >
        Note moyenne : <label style=color:green;>4 </label> <span style="font-size: 0.7em; color:green;">({{nbNotes}} {{nbNotes==1? 'note' : 'notes'}})<ion-icon name="thumbs-up"></ion-icon></span>
      </ion-label>
      <ion-label *ngIf="moyennePtsConcoursMill >= 90 && moyennePtsConcoursMill <= 100" id="labelRecommended" >
        Note moyenne : <label style=color:green;>5 </label> <span style="font-size: 0.7em; color:green;">({{nbNotes}} {{nbNotes==1? 'note' : 'notes'}})<ion-icon name="thumbs-up"></ion-icon></span>
      </ion-label>
    </div>
    <div id="like" class="rating" *ngIf="isRated">
      <!-- 0 HEART - NO RATE -->
      <ng-container *ngIf="moyenneMill === 0" title="note-nulle">
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 0.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 0.5" title="note-nulle">
        <ion-icon name="heart-half" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 1 HEART -->
      <ng-container *ngIf="moyenneMill === 1" title="note-insuffisante">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 1.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 1.5" title="note-nulle">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-half" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 2 HEARTS -->
      <ng-container *ngIf="moyenneMill === 2" title="note-faible">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 2.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 2.5" title="note-nulle">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-half" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 3 HEARTS -->
      <ng-container *ngIf="moyenneMill === 3" title="note-moyenne">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 3.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 3.5" title="note-nulle">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-half" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 4 HEARTS -->
      <ng-container *ngIf="moyenneMill === 4" title="note-bonne">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-empty" class="heart"></ion-icon>
      </ng-container>
      <!-- 4.5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 4.5" title="note-nulle">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart-half" class="heart"></ion-icon>
      </ng-container>
      <!-- 5 HEARTS -->
      <ng-container *ngIf="moyenneMill === 5" title="note-excellente">
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
        <ion-icon name="heart" class="heart"></ion-icon>
      </ng-container>
    </div>
  </div>
</ion-item>