
.vin-wrapper{
    cursor: pointer;
    .vin-info{
        margin-left:10px;
        padding-top: 10px;
        padding-bottom:10px;
        font-size: calc(11px + .5vw);
        .vin-title{
            font-weight: bold;
            font-size: calc(15px + .5vw);
            overflow: visible;
            color: #df4b68;
        }
    }
}

.rating{
    margin-left:-3px;
    .heart{
      width:30px;
      height:30px;
      color:#df4b68 !important;
    }
  }
  