<ion-content overflow-scroll="true">
  <div class="wine-card">
    <ion-img class="img-vin" src="{{vin.photo}}"></ion-img>
    <div class="vin-info">
      <ion-item class="item-info">
        <ion-label class="vin-title">{{vin.nom}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Provenance : {{vin.provenance}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Producteur : {{vin.producteur}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Cépage : {{vin.cepage}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Millésime : {{vin.millesime}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Type : {{vin.type}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Style : {{vin.style}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Degré d'alcool : {{vin.type}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Taux de sucre : {{vin.taux_de_sucre}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Conservation : {{vin.temperature_service}}</ion-label>
      </ion-item>
      <ion-item class="item-info">
        <ion-label>Médaille : {{vin.medaille}}</ion-label>
      </ion-item>
    </div>
    <span> Comment avez-vous trouvé ce vin ?</span>
    <div id="like" class="rating">
      <!-- FIRST HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart1" (click)="changeIcon($event)"></ion-icon>
      <!-- SECOND HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart2" (click)="changeIcon($event)"></ion-icon>
      <!-- THIRD HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart3" (click)="changeIcon($event)"></ion-icon>
      <!-- FOURTH HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart4" (click)="changeIcon($event)"></ion-icon>
      <!-- FIFTH HEART -->
      <ion-icon name="heart-empty" class="heart" id="heart5" (click)="changeIcon($event)"></ion-icon>
    </div>
    <div class="btn-rating">
      <ion-button color="medium" size="small" (click)="navigatePage()">Annuler</ion-button>
      <ion-button color="primary" size="small" (click)="robin($event)">Envoyer la note</ion-button>
    </div>
    <ion-item class="comment-item" lines="none">
      <ion-textarea class="comment-ta" placeholder="Laissez un commentaire (100 caractères max.)" maxlength="100"></ion-textarea>
      <ion-button color="primary" size="small">Commenter</ion-button>
    </ion-item>
  </div>      
</ion-content>
