.list-vintage{
    border-top:2px solid #df4b68;
    border-bottom:2px solid #df4b68;
    margin-top:40px;
    font-size:5vw;
    text-align: center;
    left: -5px !important;
    right: -5px !important;
}
